*\.log
*\.aux
*_aux
*\.swp
*\.toc
*\.project.vim
*\.DS_Store
*\.synctex.gz
*\.lot
*\.lof
*\.html~

# Python Files
*\.pyc
*pycache*
*\.py~

# Tags files
*tags

# Pycharm Things
.idea/*

.vs/*
*.pyproj
*.sln

# From Dan Things
*testdb.db*
*.db
trash


*dwsync*