<!-- partial code from tutorial http://blog.miguelgrinberg.com/ and bootstrap signin example-->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<form action="" method="post" name="login" class="form-signin">
    <h1 class="form-signin-heading">Admin Management</h1>
    {{ form.hidden_tag() }}
    {{ form.password.label }}
    {% for error in form.password.errors %}
        <p style="color: red;">[{{ error }}]</p>
    {% endfor %}
    {{ form.password(class_="form-control") }}
    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
</form>
{% endblock %}