{% extends "base.html" %}



{% block content %}    
   
    Horizontal size:
    <input id="xmax" type="number" min="1" max = "50">
    Vertical size:
    <input id="ymax" type="number" min="1" max = "50">
    <button id= "apply">Apply</button>
    <script src="{{ url_for('static', filename='js/jquery-2.2.1.js') }}" ></script>
    <br/>
    <br/>
    <div>
        <canvas id ="canvas" width="500" height="500" style="-webkit-touch-callout: none; -webkit-user-select: none;"></canvas>
    </div>
    <div id="machine_summary">
        <p>
            Please drag a machine to move it to a new location
            <button id="save"> Save </button>
        </p>
    </div>

    <!-- Run the script for creating the machine view in the canvas -->
    <script src="{{ url_for('static', filename='js/edit_machine_layout.js') }}" ></script>
    <script type='text/javascript'>
        setup_canvas("{{user.authenticated}}")
    </script>
{% endblock content %}
