
{% extends "base.html" %}

{% block content %}
<script>
    function delete_reservation() {
        if(confirm('Are you sure you want to delete this reservation?') == true) {
            
            window.location.href = '/delete_reservation/' + {{reservation.reservation_id }};         
        }
        else { 
            return false;
        }          
    }
</script>
<form action="" method="post" name="register" class="form-signin">
    <h1 class="form-signin-heading">Edit Reservation</h1>
    {{ form.hidden_tag() }}
    {{ form.machine.label }}
    {% for error in form.machine.errors %}
        <p style="color: red;">[{{ error }}]</p>
    {% endfor %}
    {{ form.machine(class_="form-control") }}
    {% if user.administrator %}
        {{ form.user.label }}
        {% for error in form.user.errors %}
            <p style="color: red;">[{{ error }}]</p>
        {% endfor %}
        {{ form.user(class_="form-control") }}
    {% endif %}
    {{ form.date.label }}
    {% for error in form.date.errors %}
        <p style="color: red;">[{{ error }}]</p>
    {% endfor %}
    {{ form.date(class_="form-control") }}
    {{ form.start_time.label }}
    {% for error in form.start_time.errors %}
        <p style="color: red;">[{{ error }}]</p>
    {% endfor %}
    {{ form.start_time(class_="form-control") }}
    {{ form.end_time.label }}
    {% for error in form.end_time.errors %}
        <p style="color: red;">[{{ error }}]</p>
    {% endfor %}
    {{ form.end_time(class_="form-control") }}
    <button type="submit" class="btn btn-lg btn-primary btn-block">Save Changes</button>
</form>
    

<button onclick="delete_reservation()" class="btn btn-lg btn-block btn-danger form-signin">Delete Reservation</button>
<a href={{ previous_page }} class="btn btn-lg btn-block btn-info form-signin">Back</a>

{% endblock %}