
{% extends "base.html" %}

{% block content %}
<form action="" method="post" name="register" class="form-signin">
    
    <h1 class="form-signin-heading">
        {% if machine %}
            Edit Machine {{machine.machine_id}}
        {% else %}
            New Machine
        {% endif %}
    </h1>
    {{ form.hidden_tag() }}
    {{ form.machine_type.label }}
    {% for error in form.machine_type.errors %}
        <p style="color: red;">[{{ error }}]</p>
    {% endfor %}
    {{ form.machine_type(class_="form-control") }}
    {{ form.position_x.label }}
    {% for error in form.position_x.errors %}
        <p style="color: red;">[{{ error }}]</p>
    {% endfor %}
    {{ form.position_x(class_="form-control") }}
    {{ form.position_y.label }}
    {% for error in form.position_y.errors %}
        <p style="color: red;">[{{ error }}]</p>
    {% endfor %}
    {{ form.position_y(class_="form-control") }}
    {{ form.position_z.label }}
    {% for error in form.position_z.errors %}
        <p style="color: red;">[{{ error }}]</p>
    {% endfor %}
    {{ form.position_z(class_="form-control") }}
    <button type="submit" class="btn btn-lg btn-primary btn-block">
        {% if machine %}
            Save Changes
        {% else %}
            Add Machine
        {% endif %}
    </button>
</form>

<a href = {{ url_for('admin_settings')}} class="btn btn-lg btn-block btn-info form-signin">Back</a>

{% endblock %}