
{% extends "base.html" %}

{% block content %}
<form action="" method="post" name="register" class="form-signin">
    <h1 class="form-signin-heading">Edit Reservation</h1>
    {{ form.hidden_tag() }}
    {% for error in form.machine.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.machine(class_="form-control") }}
    {% for error in form.date.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.date(class_="form-control") }}
    {% for error in form.start_time.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.start_time(class_="form-control") }}
    {% for error in form.end_time.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.end_time(class_="form-control") }}
    <button type="submit" class="btn btn-lg btn-primary btn-block">Save Changes</button>
</form>

<a href = {{ url_for('settings')}} class="btn btn-lg btn-block btn-info form-signin">Back</a>

{% endblock %}