{% extends "base.html" %}



{% block content %}
    <div id="main">
        <section id=intro>
            Welcome
        </section>
        <article class="post">
        {% if user %}
            <ul>
                <li><a href="machine_view.html">  view usage </a> </li>
                <li> reserve machine </li>
                <li> my account </li>
            </ul>
        {% else %}
            <ul>
                <li><a href={{ url_for('machine_view')}} > view usage </a> </li>
                <li>
                    <a href={{ url_for('login')}}>login</a> 
                    or <a href = {{ url_for('signup')}}>signup </a>
                </li>
            </ul>
        {% endif %}
        </article>
    </div>
{% endblock content %}

