{% extends "base.html" %}



{% block content %}
    <div id="main">
        <article class="post">
            <h1>Machine Status</h1>
            {% if machines %}
                <ul>
                {% for machine in machines %}
                    <li>{{ machine.machine_id }} : {{ machine.status }}</li>
                    {% if reservations[machine.machine_id] %}
                        <ul>
                        {% for reservation in reservations[machine.machine_id] %}
                            <li>Start: {{ reservation.start_time.isocalendar() }},
                                End: {{ reservation.end_time.isocalendar() }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
                </ul>
            {% else %}
                <h2>No Machines Entered into System!</h2>
            {% endif %}
            <h1>User List</h1>
            {% if users %}
                {% for user in users %}
                <li>{{ user.user_id }} : {{ user.full_name }}</li>
            {% endfor %}
            {% else %}
                <h2>No Users Entered into System!</h2>
            {% endif %}
        </article>
    </div>
{% endblock content %}
