{% extends "base.html" %}



{% block content %}
    <div id="main">
        <article class="post">
            <h1>Machine Status</h1>
            <canvas id ="current_machine_status" width="700" height="700"></canvas>
            {% if machines %}
                <ul>
                {% for machine in machines %}
                    {% if machine.status.__str__() == "Open" and user.authenticated==True %}
                        <li><a href='/reserve'>{{ machine.machine_id }}: {{ machine.status }}</a></li>
                    {% else %}
                        <li>{{ machine.machine_id }} : {{ machine.status }}</li>
                    {% endif %}
                    {% if reservations[machine.machine_id] %}
                        <ul>
                        {% for reservation in reservations[machine.machine_id] %}
                            <li>Start: {{ reservation.start_time.strftime("%d. %B %Y %I:%M%p") }},
                                End: {{ reservation.end_time.strftime("%d. %B %Y %I:%M%p") }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
                </ul>
            {% else %}
                <h2>No Machines Entered into System!</h2>
            {% endif %}
            <h1>User List</h1>
            {% if users %}
                {% for user in users %}
                <li>{{ user.user_id }} : {{ user.full_name }}  {{user.user_name }}</li>
            {% endfor %}
            {% else %}
                <h2>No Users Entered into System!</h2>
            {% endif %}
        </article>
    </div>
    <!-- Run the script for creating the machine view in the canvas -->
    <script src="{{ url_for('static', filename='bootstrap/js/jquery-2.2.1.js') }}" ></script>
    <script src="{{ url_for('static', filename='bootstrap/js/machine_view.js') }}" ></script>
{% endblock content %}
