
{% extends "base.html" %}

{% block content %}
<form action="" method="post" name="register" class="form-signin">
    <h1 class="form-signin-heading">Register</h1>
    {{ form.hidden_tag() }}
    {% for error in form.user_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.user_name(class_="form-control") }}
    {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.password(class_="form-control") }}
    {% for error in form.repeat_pass.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.repeat_pass(class_="form-control") }}
    {% for error in form.first_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.first_name(class_="form-control") }}
    {% for error in form.last_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.last_name(class_="form-control") }}
    <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
</form>
{% endblock %}