
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href={{ url_for('static', filename='bootstrap/css/signin.css') }} />
<form action="" method="post" name="reserve" class="form-signin">
    {{ form.hidden_tag() }}
    {{ form.machine.label }} {{ form.machine(class_="form-control") }} <br/>
    {% for error in form.date.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.date.label }} {{ form.date(class_="form-control") }} <br/>
    {% for error in form.start_time.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.start_time.label }} {{ form.start_time(class_="form-control")}} <br/>
    {% for error in form.length.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.length.label }} {{ form.length(class_="form-control")}} <br/>
    <input type="submit" value="Reserve">
</form>
{% endblock %}
