
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href={{ url_for('static', filename='bootstrap/css/signin.css') }} />
<form action="" method="post" name="reserve" class="form-signin">
    {{ form.hidden_tag() }}
    {% if form.machine %}
        {{ form.machine.label }} {{ form.machine(class_="form-control") }}
    {% endif %}
    {% for error in form.date.errors %}
        <p style="color: red;">[{{ error }}]</p>
    {% endfor %}
    {{ form.date.label }} {{ form.date(class_="form-control") }}
    {% for error in form.start_time.errors %}
        <p style="color: red;">[{{ error }}]</p>
    {% endfor %}
    {{ form.start_time.label }} {{ form.start_time(class_="form-control")}}
    {% for error in form.length.errors %}
        <p style="color: red;">[{{ error }}]</p>
    {% endfor %}
    {{ form.length.label }} {{ form.length(class_="form-control")}} 
     <button class="btn btn-lg btn-primary btn-block" type="submit">Reserve</button>
</form>
{% endblock %}
