<!DOCTYPE HTML>

{% extends "base.html" %}

{% block content %}
    <div>
    <!-- Mini jumbotron about teammates  -->
        <div class="jumbotron col-xs-12">
            <header>
                <div class="title">
                    <h2>About Team 14</h2>
                    <p>A brief description of our team</p>
                    <img src="static/images/team.jpg" width="600px" align="middle"/>
                </div>
            </header>
         </div>
            
        <div class="jumbotron col-xs-12 ">
            <h3> Daniel DeHoog </h3>
            <img src="static/images/dan.jpg" alt="" width="100px"/>
            <p><br> 
                Daniel Dehoog is senior engineering student in the Electrical and Computer Engineering concentration of the Calvin College Engineering program, and is minoring in computer science. He has worked in the IT industry as a Helpdesk technician and has interned multiple times at Dematic doing programming and setting up PLCs. He enjoys reading and playing video games as a hobby. His section of the project includes the setting up of the hub that acts as an interface between the sensors and the server
            </p>
        </div>
            
        <div class="jumbotron col-xs-12 ">
            <h3> TJ DeVries </h3>
            <img src="static/images/tj.jpg" alt="" width="100px"/>    
            <p><br>       
                TJ  DeVries is senior engineering student in the Electrical and Computer Engineering concentration of the Calvin College Engineering program, and is minoring in computer science. He has worked on one electrical engineering research project at Carnegie Mellon University, one Mathematics Research Project and Calvin College and has worked for DornerWorks more recently.
            </p>
        </div>
            
        <div class="jumbotron col-xs-12 ">
            <h3> Paul Griffioen </h3>    
            <img src="static/images/paul.jpg" alt="" width="100px"/>
            <p><br>
                Paul Griffioen is a senior engineering student in the Electrical and Computer Engineering concentration of the Calvin College Engineering program, and he is minoring in computer science. He has worked on four different engineering research projects at two different universities under five different professors. He has also published a paper in IEEE and enjoys doing musical and athletic activities in his spare time            
            </p>
        </div>
            
        <div class="jumbotron col-xs-12 ">
            <h3> Ryan Siekman </h3>
            <img src="static/images/ryan.jpg" alt="" width="100px"/>
            <p><br>
               Ryan Siekman is senior engineering student in the Electrical and Computer Engineering concentration of the Calvin College Engineering program, and is minoring in computer science and business. He has worked for Steelcase, in both the New Business Innovation department and in the Global Codes & Approvals department
            </p>
        </div>
    </div>

{% endblock %}
