{% extends "base.html" %}



{% block content %}
    <div>
        <h1>Reservations</h1>
        {% if reservations %}
            <table class="table">
                <thead>
                <tr>
                    <td>Date</td>
                    <td>Start</td>
                    <td>End</td>
                    <td>Machine</td>
                </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td> {{ reservation_data[reservation.reservation_id][0]}} </td>
                        <td> {{ reservation_data[reservation.reservation_id][1]}} </td>
                        <td> {{ reservation_data[reservation.reservation_id][2]}} </td>
                        <td> {{ reservation_data[reservation.reservation_id][3]}} </td>
                    </tr>
                <tbody> 
                {% endfor %}
            </table>
        {% else %}
            <h2>No reservations are recorded for your account</h2>
        {% endif %}
    </div>
{% endblock content %}