{% extends "base.html" %}



{% block content %}
    <div>
        <h1>Reservations</h1>
        {% if reservations %}
            <ul>
            {% for reservation in reservations %}
                <li>{{ reservation.start_time.strftime("%d. %B %Y %I:%M%p") }}
                    <ul>
                        <li> Machine type: {{ machines[reservation.machine_id].type }} </li>
                        <li> Machine ID: {{ reservation.machine_id }} </li>
                        <li> End time: {{ reservation.end_time.strftime("%d. %B %Y %I:%M%p") }}</li>
                    </ul>
            {% endfor %}
            </ul>
        {% else %}
            <h2>No reservations are recorded for your account</h2>
        {% endif %}
    </div>
{% endblock content %}
